<div class="container">
  <h2 class="text-center">Contador</h2>
  <div class="row justify-content-center align-items-center">
    <div class="col-auto">
      <button class="btn btn-danger" (click)="disminuir()"><strong>-</strong></button>
    </div>
    <div class="col-auto">
      <p class="text-center mb-0">El valor actual del contador es: {{valor}}</p>
    </div>
    <div class="col-auto">
      <button class="btn btn-primary" (click)="incrementar()"><strong>+</strong></button>
    </div>
  </div>
</div>
